<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Impact Stories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="impact-stories-page">
  <div class="cards-container">
    <app-card
      *ngFor="let story of stories"
      class="app-card-compact app-card-impact"
      [imageUrl]="getPhotoUrl(story)"
      [title]="story.title"
      [description]="story.shortDescription ?? story.longDescription ?? ''"
      [clickable]="true"
      (cardClick)="navigateToDetail(story)"
      (shareClick)="onShareStory(story)">
    </app-card>
  </div>
</ion-content>
