<ion-header>
  <ion-toolbar>
    <ion-title>PDF Preview</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="pdf-preview-content" scrollY="true">
  <div class="pdf-container" *ngIf="safeUrl">
    <iframe [src]="safeUrl" class="pdf-iframe" title="PDF Preview"></iframe>
  </div>
  <p *ngIf="!safeUrl" class="app-caption">Loading preview…</p>
  <ion-button expand="block" (click)="share()" [disabled]="sharing" class="share-btn">
    <ion-icon name="share-outline" slot="start"></ion-icon>
    {{ sharing ? 'Opening share…' : 'Share PDF' }}
  </ion-button>
</ion-content>
