.pdf-preview-content {
  --padding: 0;
}

.pdf-container {
  width: 100%;
  min-height: 100%;
}

.pdf-iframe {
  width: 100%;
  min-height: 297mm;
  height: 891mm;
  border: none;
  display: block;
}

.share-btn {
  position: sticky;
  bottom: 0;
  margin: 1rem;
  z-index: 10;
}
