<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/assistance/intro"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Assistance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding assistance-signup-content">
  <app-contact-assistance-form (submitted)="onFormSubmitted()"></app-contact-assistance-form>

  <!-- temporary: remove before release -->
  <p class="app-body-secondary m-t-18 assistance-signup-temp-link">
    <a routerLink="/assistance/thank-you" class="app-link">Go to Thank You (temporary)</a>
  </p>
</ion-content>
