ion-content.assistance-thank-you-page {
  --background: var(--ion-background-color);
  --ion-background-color: var(--ion-background-color);
}

.assistance-thank-you-hero {
  width: 100%;
  height: 30vh;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
