.assistance-steps {
  padding-left: 1.25rem;
  li {
    margin-bottom: 0.5rem;
  }
}

.exploring-link {
  text-align: center;
}

.link-button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0.5rem 0.75rem;

  &:active {
    opacity: 0.6;
  }
}
