<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/assistance/intro"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="m-b-18">Assistance Request Form</h2>
  <p class="app-body-secondary m-b-24">
    Signup form will be built here.
  </p>
  <ion-button expand="block" color="primary" (click)="onSubmit()">
    Submit
  </ion-button>
</ion-content>
