@if (hasAuthor) {
  @if (hasBio) {
    <button
      type="button"
      class="content-reader-hero__author content-reader-hero__author--clickable"
      [attr.aria-label]="'About ' + author.name"
      (click)="openAuthorBio()"
    >
      @if (author.avatarUrl) {
        <img
          class="content-reader-hero__author-avatar"
          [src]="author.avatarUrl"
          [alt]="author.name"
        />
      } @else {
        <img
          class="content-reader-hero__author-avatar"
          src="assets/branding/love-inc-avatar.png"
          [alt]="author.name"
        />
      }
      <span
        class="content-reader-hero__author-label"
        [class.content-reader-hero__author-label--compact]="compact"
      >
        By {{ author.name }}
      </span>
    </button>
  } @else {
    <div class="content-reader-hero__author">
      @if (author.avatarUrl) {
        <img
          class="content-reader-hero__author-avatar"
          [src]="author.avatarUrl"
          [alt]="author.name"
        />
      } @else {
        <img
          class="content-reader-hero__author-avatar"
          src="assets/branding/love-inc-avatar.png"
          [alt]="author.name"
        />
      }
      <span
        class="content-reader-hero__author-label"
        [class.content-reader-hero__author-label--compact]="compact"
      >
        By {{ author.name }}
      </span>
    </div>
  }
}
