@if (hasAuthor) {
  @if (inHero) {
    @if (hasBio) {
      <button
        type="button"
        class="app-author-row app-unstyled-button"
        [attr.aria-label]="'About ' + author.name"
        (click)="openAuthorBio()"
      >
        <ng-container *ngTemplateOutlet="authorIdentity" />
      </button>
    } @else {
      <div class="app-author-row">
        <ng-container *ngTemplateOutlet="authorIdentity" />
      </div>
    }
  } @else {
    <div class="content-reader-author">
      @if (hasBio) {
        <button
          type="button"
          class="app-author-row app-unstyled-button"
          [attr.aria-label]="'About ' + author.name"
          (click)="openAuthorBio()"
        >
          <ng-container *ngTemplateOutlet="authorIdentity" />
        </button>
      } @else {
        <div class="app-author-row">
          <ng-container *ngTemplateOutlet="authorIdentity" />
        </div>
      }
    </div>
  }
}

<ng-template #authorIdentity>
  @if (author.avatarUrl) {
    <img
      class="app-author-avatar"
      [src]="author.avatarUrl"
      [alt]="author.name"
    />
  } @else {
    <img
      class="app-author-avatar"
      src="assets/branding/love-inc-avatar.png"
      [alt]="author.name"
    />
  }
  <span
    class="app-author-label"
    [class.app-author-label--overlay]="inHero"
    [class.app-author-label--compact]="inHero && compact"
  >
    By {{ author.name }}
  </span>
</ng-template>
