<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Updates & News
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications-button></app-notifications-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards-container">
    <app-card
      *ngFor="let item of items"
      class="event-card"
      [imageUrl]="item.photoUrl"
      [title]="item.title"
      [subtitle]="item.subtitle"
      [description]="item.shortDescription || item.description"
      [clickable]="true"
      [actionIcons]="getActionIcons(item)"
      (cardClick)="navigateToDetail(item)"
      (shareClick)="onShareItem(item)">
    </app-card>
  </div>
</ion-content>
