.cards-container {
  padding: 16px;
  padding-bottom: 100px;
}

.event-card-content {
  position: relative;
  padding-right: 48px;
}

.card-calendar-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  color: var(--ion-color-medium);
}
