<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Updates & News
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="notifications-button" (click)="openAlertsModal()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <span class="notification-badge"></span>
      </ion-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards-container">
    <app-card
      *ngFor="let event of events"
      class="event-card"
      [imageUrl]="event.photoUrl"
      [title]="event.title"
      [subtitle]="event.subtitle"
      [description]="event.shortDescription ?? event.description"
      [clickable]="true"
      [actionIcons]="getActionIcons(event)"
      (cardClick)="navigateToEventDetail(event)"
      (shareClick)="onShareEvent(event)">
    </app-card>
  </div>
</ion-content>
