<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Updates & News
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToProfile()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cards-container">
    <ion-card *ngFor="let event of events" class="event-card">
      <div class="card-image-container">
        <img [src]="event.photoUrl" [alt]="event.title" class="card-image" />
      </div>

      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
        <ion-card-subtitle>{{ event.subtitle }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ event.description }}
        <ion-icon name="calendar-outline" class="card-calendar-icon"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
