<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>Tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tools-list">
    @for (card of toolCards; track card.title) {
      <app-content-card
        [category]="card.category"
        [categoryIcon]="card.categoryIcon"
        [categoryExtra]="card.categoryExtra"
        [title]="card.title"
        [detail]="card.detail"
        [imageUrl]="card.imageUrl"
        [iconName]="card.iconName"
        [iconBackgroundColor]="card.iconBackgroundColor ?? '#8b7355'"
      />
    }
  </div>
</ion-content>
