<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">{{ headerTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (message) {
    <p class="app-body-secondary m-b-18">{{ message }}</p>
  }
  <app-user-profile-form
    [firstName]="firstName"
    [lastName]="lastName"
    [email]="email"
    saveLabel="Save"
    [showCancel]="true"
    (save)="onSave($event)"
    (cancel)="onCancel()">
  </app-user-profile-form>
</ion-content>
