<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Classes
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications-button></app-notifications-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (showEmptyNotice) {
    <div class="empty-state">
      <p class="app-body-secondary">There are no classes at this time.</p>
    </div>
  } @else {
    <div>
      <app-card
        *ngFor="let item of activeClassCards"
        class="class-card app-card-compact"
        [imageUrl]="item.formatted.photoUrl"
        [title]="item.formatted.title"
        [subtitle]="item.formatted.subtitle"
        [description]="item.formatted.description"
        [actionIcons]="getActionIcons(item)"
        [clickable]="true"
        (cardClick)="navigateToClassDetail(item.class)"
        (shareClick)="onShareClass(item.class)">
      </app-card>
    </div>
  }
</ion-content>
