<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="fromServices">
      <ion-back-button defaultHref="/tabs/services"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transformation Classes
    </ion-title>
    <ion-buttons slot="end" *ngIf="showDonateButton">
      <ion-button (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="classes-container">
    <app-card
      *ngFor="let classItem of classes"
      class="class-card"
      [imageUrl]="classItem.photoUrl"
      [title]="classItem.title"
      [subtitle]="classItem.nextSession.dayOfWeek + ' ' + classItem.nextSession.time + '\n' + formatSessionDates(classItem)"
      [clickable]="true"
      (cardClick)="navigateToClassDetail(classItem)"
      (shareClick)="onShareClass(classItem)">
      {{ classItem.description }}
    </app-card>
  </div>
</ion-content>
