/* Card layout in theme/cards.scss. Overrides below. */

:host-context(.impact-card) .card-image {
  object-position: top;
}

.app-card ion-card-content.has-action-icons {
  padding-bottom: 0;
}

.action-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid var(--ion-color-light);

  ion-button {
    --padding-start: 4px;
    --padding-end: 4px;
    margin: 0;

    ion-icon {
      font-size: var(--app-font-size-display);
      color: var(--ion-color-dark);
    }

    i-lucide {
      color: var(--ion-color-dark);
    }
  }

  .map-button ion-icon,
  .phone-button ion-icon,
  .volunteer-button ion-icon,
  .calendar-button ion-icon,
  .email-button ion-icon,
  .share-button ion-icon {
    color: var(--ion-color-dark);
  }
}
