<ion-card
  class="app-card"
  [class.clickable]="clickable"
  [class.card-with-right-thumbnail]="imagePosition === 'right' && (imageUrl || thumbnailPlaceholderIcon)"
  (click)="onCardClick($event)">
  @if (imageUrl && imagePosition === 'banner') {
    <div class="card-image-container">
      <img [src]="imageUrl" [alt]="title ?? ''" class="card-image" />
      @if (badge) {
        <ion-badge class="card-badge" [style.background-color]="badge.color">
          <ion-icon [name]="badge.icon"></ion-icon>
          {{ badge.label }}
        </ion-badge>
      }
    </div>
  }

  @if (title || subtitle) {
    <ion-card-header>
      @if (title) {
        <ion-card-title>{{ title }}</ion-card-title>
      }
      @if (subtitle) {
        <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
      }
    </ion-card-header>
  }

  <ion-card-content [class.has-action-icons]="hasActionIcons">
    @if (imagePosition === 'right' && (imageUrl || thumbnailPlaceholderIcon)) {
      <div class="card-content-inner">
        <div class="card-content-left">
          @if (description) {
            <div [innerHTML]="description"></div>
          } @else if (contentHtml) {
            <div [innerHTML]="contentHtml | safeHtml"></div>
          }
        </div>
        <div class="card-content-right">
          @if (imageUrl) {
            <img [src]="imageUrl" [alt]="title ?? ''" class="card-thumbnail-image" />
          } @else if (thumbnailPlaceholderIcon) {
            <div class="card-thumbnail-placeholder" [style.background-color]="thumbnailPlaceholderColor">
              <ion-icon [name]="thumbnailPlaceholderIcon" class="card-thumbnail-icon"></ion-icon>
            </div>
          }
        </div>
      </div>
      @if (hasActionIcons) {
        <div class="action-icons p-t-12">
          @for (action of visibleActionIcons; track action.icon || action.lucideIcon) {
            <ion-button
              fill="clear"
              size="small"
              [ngClass]="action.buttonClass"
              (click)="onActionClick($event, action)">
              @if (action.lucideIcon) {
                <i-lucide slot="icon-only" [name]="action.lucideIcon" [size]="21.6" color="var(--ion-color-dark)"></i-lucide>
              } @else {
                <ion-icon slot="icon-only" [name]="action.icon"></ion-icon>
              }
            </ion-button>
          }
        </div>
      }
    } @else {
      @if (description) {
        <div [innerHTML]="description"></div>
      } @else if (contentHtml) {
        <div [innerHTML]="contentHtml | safeHtml"></div>
      }
      @if (hasActionIcons) {
        <div class="action-icons p-t-12">
          @for (action of visibleActionIcons; track action.icon || action.lucideIcon) {
            <ion-button
              fill="clear"
              size="small"
              [ngClass]="action.buttonClass"
              (click)="onActionClick($event, action)">
              @if (action.lucideIcon) {
                <i-lucide slot="icon-only" [name]="action.lucideIcon" [size]="21.6" color="var(--ion-color-dark)"></i-lucide>
              } @else {
                <ion-icon slot="icon-only" [name]="action.icon"></ion-icon>
              }
            </ion-button>
          }
        </div>
      }
    }
  </ion-card-content>
</ion-card>
