ion-content {
  --padding-top: 16px;
}

.content-wrapper {
  padding-bottom: 100px; // Space for tab bar
}

.all-donation-options-button {
  margin-top: 24px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --min-height: auto;
}
