ion-content {
  --padding-top: 16px;
}

.content-wrapper {
  padding-bottom: 100px; // Space for tab bar
}

.category-header {
  padding: 0px 16px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --min-height: auto;
}

.accepted-items {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.item-pill {
  background-color: var(--ion-color-light) !important;
  color: var(--app-text-primary) !important;
}
