<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      class="live-search"
      placeholder="Search Donation Options"
      (ionInput)="onSearchChange($event)"
      (ionChange)="onSearchChange($event)"
      (ionClear)="onSearchClear()"
      [value]="searchQuery"
      showClearButton="always"
      [debounce]="150">
    </ion-searchbar>
    <ion-buttons slot="end">
      <app-notifications-button></app-notifications-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div *ngFor="let category of categoryOrder">
      <div *ngIf="groupedLocations[category]?.length" class="category-section">
        <app-card
          *ngFor="let location of groupedLocations[category]"
          class="location-card"
          [imageUrl]="location.photoUrl ?? undefined"
          [imagePosition]="'banner'"
          [badge]="location.badge"
          [contentHtml]="getLocationContentHtml(location)"
          [actionIcons]="getActionIcons(location)"
          (shareClick)="onShareLocation(location)">
        </app-card>
      </div>
    </div>
  </div>
</ion-content>