ion-list {
  padding: 0.5rem 0;
}

ion-item {
  --padding-start: 1rem;
  --padding-end: 1rem;
  --min-height: 3.5rem;
  
  ion-icon {
    font-size: var(--app-font-size-display-lg);
    color: var(--app-text-accent);
    margin-right: 1rem;
  }
}
