ion-list {
  padding: 0.5rem 0;
}

ion-item {
  --padding-start: 0.75rem;
  --padding-end: 0.75rem;
  --min-height: 3.5rem;
  
  ion-icon {
    color: var(--app-text-accent);
    margin-right: 1rem;
  }
}
