<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Services
    </ion-title>
    <ion-buttons slot="end" *ngIf="showDonateButton">
      <ion-button (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item 
      button 
      detail="true"
      *ngFor="let service of services"
      (click)="handleServiceClick(service)">
      <ion-icon [name]="service.icon" slot="start"></ion-icon>
      <ion-label>{{ service.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
