ion-list {
  padding: 8px 0;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 56px;
  
  ion-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
    margin-right: 16px;
  }
}
