<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>Give to Love INC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-wrapper">
  <div class="donation-form-container p-18">
    <!-- Donation Frequency -->
    <ion-segment [(ngModel)]="donationFrequency" class="frequency-segment p-3 m-b-24">
      <ion-segment-button value="one-time">
        <ion-label>One-time</ion-label>
      </ion-segment-button>
      <ion-segment-button value="monthly">
        <ion-label>Monthly</ion-label>
      </ion-segment-button>
      <ion-segment-button value="quarterly">
        <ion-label>Quarterly</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Preset Amount Buttons -->
    <div class="amount-buttons m-b-24">
      <button
        *ngFor="let amount of presetAmounts"
        class="amount-button app-title p-18"
        [class.selected]="selectedAmount === amount"
        (click)="selectAmount(amount)"
        type="button">
        ${{ amount }}
      </button>
    </div>

    <!-- Other Amount Input -->
    <div class="other-amount-container m-b-24">
      <ion-item class="other-amount-item p-12 p-l-18 p-r-18">
        <ion-label position="stacked" class="m-b-6">$ Other</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="customAmount"
          (ionInput)="onCustomAmountChange()"
          placeholder="0.00"
          class="other-amount-input">
        </ion-input>
        <div slot="end" class="currency-label app-body-secondary m-l-6">USD</div>
      </ion-item>
    </div>

    <!-- Additional Options -->
    <div class="options-container m-b-24">
      <ion-item class="m-b-12">
        <ion-checkbox [(ngModel)]="addNote" slot="start"></ion-checkbox>
        <ion-label class="app-body">Add note/comment</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="giveInHonor" slot="start"></ion-checkbox>
        <ion-label class="app-body">Give in honor/memory</ion-label>
      </ion-item>
    </div>

    <!-- Continue Button -->
    <ion-button
      expand="block"
      class="pill-button m-t-30 m-b-24"
      [disabled]="!canContinue()"
      (click)="onContinue()">
      Continue
    </ion-button>

    <!-- Powered by Givebutter -->
    <div class="powered-by app-body-secondary-sm p-l-18 p-r-18">
      <span class="m-r-3">Powered by Givebutter</span>
    </div>
  </div>
</ion-content>
