.over-banner {
  margin: 1rem;
  padding: 1rem;
  background: rgba(var(--ion-color-warning-rgb), 0.2);
  border-radius: 0.5rem;
  border-left: 4px solid var(--ion-color-warning);
}

.options-list ion-item {
  --padding-start: 1rem;

  &.disabled ion-checkbox {
    opacity: 0.5;
  }
}

.hint {
  margin: 1rem;
}

.save-button {
  margin: 1rem;
}
