<ion-header *ngIf="!isGoalsTab" [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-origin-back-button defaultHref="/tabs/tools"></app-origin-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-label="Settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom" class="goal-tracker-tab-bar">
    <ion-tab-button tab="goals" [routerLink]="['/tabs/goal-tracker/goals']" queryParamsHandling="preserve">
      <ion-icon aria-hidden="true" name="trophy-outline" class="outline-icon"></ion-icon>
      <ion-icon aria-hidden="true" name="trophy" class="solid-icon"></ion-icon>
      <ion-label>Goals</ion-label>
    </ion-tab-button>

    <ion-tab-button class="fab-spacer" disabled="true" style="visibility: hidden;">
    </ion-tab-button>

    <ion-tab-button tab="statistics" [routerLink]="['/tabs/goal-tracker/statistics']" queryParamsHandling="preserve">
      <ion-icon aria-hidden="true" name="stats-chart-outline" class="outline-icon"></ion-icon>
      <ion-icon aria-hidden="true" name="stats-chart" class="solid-icon"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <button class="btn-add-exercise" (click)="onFabClick()" aria-label="Add">
    <ion-icon name="add-circle" class="large" color="red-orange"></ion-icon>
  </button>
</ion-tabs>
