<ion-card class="location-popover-card">
  <ion-card-header>
    <ion-card-title class="app-body">{{ title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="address" class="location-row">
      <ion-icon name="location-outline" class="location-icon"></ion-icon>
      <span class="app-body-sm">{{ address }}</span>
    </div>
    <div *ngIf="hours" class="location-row">
      <ion-icon name="time-outline" class="location-icon"></ion-icon>
      <span class="app-body-sm">{{ hours }}</span>
    </div>
    <div *ngIf="items?.length" class="location-row">
      <ion-icon [name]="itemsIcon" class="location-icon"></ion-icon>
      <span class="app-body-sm">{{ items.join(', ') }}</span>
    </div>
  </ion-card-content>
</ion-card>
