<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ welcomeTitle }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="showDonateButton">
      <ion-button (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- User Type Cards - Full Width -->
  <app-user-type-card
    *ngFor="let userType of selectedUserTypes"
    [userType]="userType">
  </app-user-type-card>

  <!-- Home Cards - With Padding -->
  <div class="cards-container">
    <app-card
      *ngFor="let card of cards"
      class="home-card"
      [class.impact-card]="card.type === 'impact'"
      [imageUrl]="card.photoUrl"
      [badge]="{ icon: cardTypeIcons[card.type], label: cardTypeLabels[card.type], color: cardTypeColors[card.type] }"
      [title]="card.title"
      [subtitle]="card.subtitle"
      [clickable]="true"
      (cardClick)="navigateToCard(card)"
      (shareClick)="onShareCard(card)">
      {{ card.description }}
    </app-card>
  </div>
</ion-content>
