.control-container {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 12px !important;
  padding-top: 12px;
  padding-bottom: 10px;
}
.label {
  display: flex;
  padding-left: 2px;
  justify-content: space-between;
  color: #626262;
  font-size: 0.85rem;
}

.button-container {
  margin-top: 8px;
}
.btn-weekday-picker {
  display: inline-block;
  margin-right: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-secondary);
  background-color: var(--ion-color-white);
}
.btn-weekday-picker.selected,
.btn-every-day.selected {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-white);
}
.btn-every-day {
  width: 90px;
  height: 30px;
  margin-left: 0;
  margin-right: 5px;
  border-radius: 8px;
  display: inline-block;
  font-size: 0.75rem;
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-secondary);
  background-color: var(--ion-color-white);
  font-weight: 500;
}
