<ion-header>
  <ion-toolbar class="week-settings-sheet-toolbar">
    <ion-title>Household &amp; week</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="close-button" aria-label="Close" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="week-settings-sheet-content">
  <div class="week-settings-row">
    <ion-item class="week-settings-field">
      <ion-label position="stacked">Household size</ion-label>
      <ion-input
        type="number"
        inputmode="numeric"
        min="1"
        [(ngModel)]="householdSize"
        (ngModelChange)="onFieldChange()"
      ></ion-input>
    </ion-item>
    <ion-item class="week-settings-field">
      <ion-label position="stacked">Max cook time (min)</ion-label>
      <ion-input
        type="number"
        inputmode="numeric"
        min="15"
        [(ngModel)]="maxReadyMinutes"
        (ngModelChange)="onFieldChange()"
      ></ion-input>
    </ion-item>
  </div>

  <div class="week-settings-row">
    <ion-item class="week-settings-field">
      <ion-label position="stacked">Extra servings</ion-label>
      <ion-input
        type="number"
        inputmode="numeric"
        min="0"
        [(ngModel)]="weekServingDelta"
        (ngModelChange)="onFieldChange()"
      ></ion-input>
    </ion-item>
    <ion-item class="week-settings-field">
      <ion-label position="stacked">Meals this week</ion-label>
      <ion-input
        type="number"
        inputmode="numeric"
        min="1"
        max="7"
        [(ngModel)]="mealsPerWeek"
        (ngModelChange)="onFieldChange()"
      ></ion-input>
    </ion-item>
  </div>

  <ion-item class="week-settings-notes-field">
    <ion-label position="stacked">Note for this week (guests or events)</ion-label>
    <ion-textarea
      [(ngModel)]="weekNote"
      (ngModelChange)="onFieldChange()"
      rows="3"
      [autoGrow]="true"
      autocapitalize="sentences"
    ></ion-textarea>
  </ion-item>
</ion-content>
