<ion-header>
  <ion-toolbar class="grocery-add-item-sheet-toolbar">
    <ion-title>Add item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear" class="close-button" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="grocery-add-item-sheet-content">
  <div class="custom-input-row">
    <ion-item>
      <ion-input
        #nameInput
        [(ngModel)]="itemName"
        placeholder="Item name"
        (keyup.enter)="submit()"
        autocapitalize="sentences"
      ></ion-input>
    </ion-item>
    <ion-button
      fill="solid"
      color="red-orange"
      class="add-item-btn"
      (click)="submit()"
      [disabled]="!itemName.trim()"
      aria-label="Add item"
    >
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
