<ion-card class="content-card" [class.clickable]="clickable" (click)="route && handleClick()">
  <ion-card-content>
    <div class="content-card-inner">
      <div class="content-card-left">
        @if (category || categoryExtra) {
          <div class="category-row">
            @if (categoryIcon) {
              <ion-icon [name]="categoryIcon" class="icon"></ion-icon>
            }
            @if (categoryExtra) {
              <span class="app-body-secondary">{{ categoryExtra }}</span>
            }
            @if (category) {
              <span class="app-body-secondary">{{ category }}</span>
            }
          </div>
        }
        <h2 class="m-b-6">{{ title }}</h2>
        @if (detail) {
          <div>
            <p>{{ detail }}</p>
          </div>
        }
      </div>
      <div class="content-card-right m-t-6">
        @if (imageUrl) {
          <img [src]="imageUrl" [alt]="title" class="content-card-image" />
        } @else if (iconName) {
          <div class="content-card-icon-wrap" [style.background-color]="iconBackgroundColor">
            <ion-icon [name]="iconName" class="content-card-icon"></ion-icon>
          </div>
        }
      </div>
    </div>
  </ion-card-content>
</ion-card>
