<ion-content [fullscreen]="true" class="onboarding-content">
  <!-- Background Header with Photo -->
  <div class="photo-background-header">
    <div class="photo-overlay"></div>
  </div>
  
  <div class="onboarding-container">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/branding/logo-oregon-newberg.webp" alt="Love INC Logo" class="logo-image">
      <h1 class="tagline">Helping Churches Help People</h1>
    </div>

    <!-- Selection Buttons -->
    <div class="button-group">
      <ion-button 
        expand="block" 
        size="large" 
        fill="solid"
        class="option-button get-help-button"
        [class.selected]="isSelected('get-help')"
        (click)="toggleOption('get-help')">
        <div class="checkbox-indicator" *ngIf="isSelected('get-help')">
          <ion-icon name="checkmark"></ion-icon>
        </div>
        <ion-icon slot="start" name="hand-right-outline"></ion-icon>
        Get Help
      </ion-button>

      <ion-button 
        expand="block" 
        size="large" 
        fill="solid"
        class="option-button volunteer-button"
        [class.selected]="isSelected('volunteer')"
        (click)="toggleOption('volunteer')">
        <div class="checkbox-indicator" *ngIf="isSelected('volunteer')">
          <ion-icon name="checkmark"></ion-icon>
        </div>
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        Volunteer
      </ion-button>

      <ion-button 
        expand="block" 
        size="large" 
        fill="solid"
        class="option-button give-button"
        [class.selected]="isSelected('give')"
        (click)="toggleOption('give')">
        <div class="checkbox-indicator" *ngIf="isSelected('give')">
          <ion-icon name="checkmark"></ion-icon>
        </div>
        <ion-icon slot="start" name="gift-outline"></ion-icon>
        Give
      </ion-button>
    </div>

    <!-- Next Button -->
    <ion-button 
      expand="block" 
      size="large"
      color="primary"
      class="next-button"
      [disabled]="!canProceed()"
      (click)="onNext()">
      Next
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>

    <!-- Exploring Link -->
    <div class="exploring-link">
      <button class="link-button" (click)="onExploring()">
        I'm just exploring
      </button>
    </div>
  </div>
</ion-content>
