<ion-content [fullscreen]="true" class="onboarding-content">
  <!-- Fixed Header Container -->
  <div class="header-container">
    <div class="photo-background-header">
      <div class="photo-overlay"></div>
    </div>
    <div class="logo-container">
      <img src="assets/branding/logo-oregon-newberg.webp" alt="Love INC Logo" class="logo-image">
      <h1 class="tagline">Let's get to know you better</h1>
    </div>
  </div>

  <!-- Content Container -->
  <div class="content-container">
    <!-- Form -->
    <app-user-profile-form
      [firstName]="firstName"
      [lastName]="lastName"
      [email]="email"
      saveLabel="Complete"
      [showCancel]="false"
      (save)="onFormSave($event)">
    </app-user-profile-form>

    <ion-list>
    <ion-item button="false" detail="false" lines="full" class="newsletter-item">
      <ion-checkbox 
        slot="start" 
        [(ngModel)]="wantsNewsletter"
        name="wantsNewsletter">
      </ion-checkbox>
      <ion-label (click)="wantsNewsletter = !wantsNewsletter">
        I would like to receive Love INC newsletter
      </ion-label>
    </ion-item>
    </ion-list>

    <!-- Skip Link -->
    <div class="exploring-link">
      <button class="link-button" (click)="onSkip()">
        No thanks. I'm just exploring.
      </button>
    </div>
  </div>
</ion-content>
