.content-wrapper {
  padding-bottom: 6.25rem; // Space for tab bar
}

.schedule-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  &:first-child {
    padding-top: 1rem;
  }
}

.schedule-section {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.schedule-header {
  display: block;
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0 0.75rem;
}

.schedule-section app-card:last-child {
  --app-card-margin-bottom: 0;
}

.content-wrapper--simple__intro {
  margin: 0 0 1rem;
  display: block;
}

