.hint {
  margin: 0 0 0.5rem;
}
.options-list {
  padding-bottom: 50px;
  --background: transparent;
  background: transparent;
}
.options-list ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --background: transparent;
  background: transparent;
}
.options-list ion-item.disabled ion-label {
  opacity: 0.5;
}
