.item-icon-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  min-width: 28px;
  margin-right: 16px;

  ion-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
  }
}

.profile-initial-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 14px;
  font-weight: 600;
}
