ion-list {
  padding-top: 0.625rem;
}

ion-list ion-item {
  margin-bottom: 0.75rem;

  &:not(.profile-item) {
    margin-left: 0.3125rem;
  }
}

.item-icon-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  min-width: 1.75rem;
  margin-right: 1rem;
}

.profile-item .item-icon-slot {
  width: 2.125rem;
  min-width: 2.125rem;
}

.profile-initial-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
  color: white;
}

.profile-item .profile-initial-avatar {
  width: 2.125rem;
  height: 2.125rem;
}
