<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      More
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications-button></app-notifications-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="more-page-content" [fullscreen]="true">
  <ng-container *ngFor="let section of moreSections">
    <div class="more-section">
      <p class="more-section-title app-body-secondary-sm app-uppercase">{{ section.title }}</p>
      <div class="more-section-group">
        <ion-list lines="full">
          <ion-item
            button
            detail="false"
            *ngFor="let item of section.items"
            (click)="handleItemClick(item)">
            <div slot="start" class="item-icon-slot">
              <div
                *ngIf="item.name === 'My Profile' && userFirstInitial"
                class="profile-initial-avatar app-caption"
                [style.background-color]="item.iconColor || 'var(--ion-color-primary)'">{{ userFirstInitial }}</div>
              <i-lucide
                *ngIf="!(item.name === 'My Profile' && userFirstInitial) && item.lucideIcon"
                [name]="item.lucideIcon"
                [size]="20"
                [color]="item.iconColor || 'var(--ion-color-primary)'"></i-lucide>
              <ion-icon
                *ngIf="!(item.name === 'My Profile' && userFirstInitial) && !item.lucideIcon"
                [name]="item.icon"
                [style.color]="item.iconColor || 'var(--ion-color-primary)'"></ion-icon>
            </div>
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ng-container>

  <!-- Version Badge (Fixed Position) -->
  <div
    slot="fixed"
    class="more-version-badge"
    role="button"
    tabindex="0"
    (click)="toggleVersionDetails()"
    (keyup.enter)="toggleVersionDetails()"
    (keyup.space)="$event.preventDefault(); toggleVersionDetails()">
    <span class="app-body-secondary-xs">{{ appVersion.snapshot.displayVersion }}</span>
    <div *ngIf="showVersionDetails" class="more-version-details">
      <span class="app-body-secondary-xs">Build {{ appVersion.snapshot.build }}</span>
    </div>
  </div>
</ion-content>
