<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/about"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Partner Churches Map
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="notifications-button" (click)="openAlertsModal()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <span class="notification-badge"></span>
      </ion-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
</ion-content>
