<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/about"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Partner Churches Map
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications-button></app-notifications-button>
      <ion-button *ngIf="showDonateButton" (click)="openDonateMenu()" class="donate-header-button">
        <ion-icon slot="icon-only" name="gift-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
  <div *ngIf="mapLoadError" class="map-message">
    <p>Map could not load. Check your connection and try again.</p>
  </div>
</ion-content>
