<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/about"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Partner Churches Map
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['/tabs/profile'])">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
</ion-content>
