:host {
  display: block;
}

:host:first-child .home-cta-row-item {
  margin-top: 1rem;
}

.home-cta-row-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --min-height: 4.5rem;
  --home-cta-row-icon-size: calc(var(--app-icon-size-xl) * 1.2);
  border-radius: 0;
}

.home-cta-row-item--flat {
  --background: transparent;
  --ion-item-background: transparent;
  background: transparent;
}

.home-cta-row__photo {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.home-cta-row__start {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-cta-row__icon {
  font-size: var(--home-cta-row-icon-size) !important;
  width: var(--home-cta-row-icon-size) !important;
  height: var(--home-cta-row-icon-size) !important;
}

:host .action-pill {
  font-size: var(--app-font-size-xs) !important;
  font-weight: var(--app-font-weight-normal) !important;
}

.home-cta-row__progress-bar {
  height: 0.375rem;
  border-radius: 0.1875rem;
  --background: var(--app-card-background);
}

.home-cta-row-item ion-label p.app-body-secondary-xs .home-cta-row__progress-figures {
  font-size: var(--app-font-size-xs);
  font-weight: var(--app-font-weight-bold);
}

.home-cta-row__progress-figures--low {
  color: var(--ion-color-danger);
}

.home-cta-row__progress-figures--mid {
  color: var(--love-inc-gold);
}

.home-cta-row__progress-figures--high {
  color: var(--ion-color-success);
}
