<ion-item
  class="home-cta-row-item m-b-6"
  [class.home-cta-row-item--flat]="row.id === 'get-help' || row.id === 'give-now'"
  button
  detail="false"
  lines="none"
  (click)="onRowClick()">
  @if (row.photoUrl) {
    <img slot="start" [src]="row.photoUrl" alt="" class="home-cta-row__photo m-r-18" />
  } @else if (row.iconName) {
    <div slot="start" class="home-cta-row__start m-r-18">
      <ion-icon
        [name]="row.iconName"
        class="home-cta-row__icon"
        [style.color]="row.iconColor">
      </ion-icon>
    </div>
  }
  <ion-label>
    @if (row.bodyMode === 'intake-connection') {
      <p class="app-title">
        Start your intake at<br />
        <a
          class="app-link"
          routerLink="/tabs/connection-center"
          (click)="$event.stopPropagation()"
        >Connection Center</a><br />
        to access services.
      </p>
    } @else {
      <p class="app-title">{{ row.body }}</p>
    }
    @if (row.subtitle) {
      <p class="app-body-secondary-xs m-t-4">{{ row.subtitle }}</p>
    }
    @if (showProgress && progressAmountsText) {
      <p class="app-body-secondary-xs m-t-4">
        <span
          class="home-cta-row__progress-figures"
          [class.home-cta-row__progress-figures--low]="progressFigureLevel === 'low'"
          [class.home-cta-row__progress-figures--mid]="progressFigureLevel === 'mid'"
          [class.home-cta-row__progress-figures--high]="progressFigureLevel === 'high'"
        >{{ progressAmountsText }}</span>{{ progressUnitSuffix }}
      </p>
      <ion-progress-bar
        [value]="progressValue"
        class="home-cta-row__progress-bar m-t-6"
        [style.--progress-background]="progressBarFillColor">
      </ion-progress-bar>
    }
  </ion-label>
  <div slot="end" class="action-pill m-l-12" [style.background-color]="row.pillColor">
    {{ row.pillText }}
  </div>
</ion-item>
