.instructor-bio-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.instructor-bio-modal-job-title {
  align-self: stretch;
  text-align: center;
  margin-top: 0;
}

.instructor-bio-modal-avatar {
  margin-bottom: 1rem;
}

.bio-text {
  margin: 0;
  text-align: start;
  align-self: stretch;
  line-height: var(--app-line-height-loose);
}
