<ion-item 
  class="user-type-item m-b-6" 
  [class.user-type-item--support]="userType === 'get-help'"
  button 
  detail="false"
  lines="none"
  (click)="onCardClick()">
  <ion-icon [name]="config.icon" slot="start" [style.color]="config.color" class="user-type-icon m-r-18"></ion-icon>
  <ion-label>
    @if (userType === 'get-help' && getHelpIntakeWithConnectionLink) {
      <p class="app-title">
        Start your intake at<br />
        <a
          class="app-link"
          routerLink="/tabs/connection-center"
          (click)="$event.stopPropagation()"
        >Connection Center</a><br />
        to access services.
      </p>
    } @else {
      <p class="app-title">{{ displayDescription }}</p>
    }
    @if (userType === 'give') {
      <ion-progress-bar 
        [value]="donorProgress" 
        class="donor-progress-bar m-t-6">
      </ion-progress-bar>
    }
  </ion-label>
  <div slot="end" class="action-pill m-l-12" [style.background-color]="actionPillColor">
    {{ actionPillText }}
  </div>
</ion-item>
