<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>Verse of the Day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    @if (loading) {
      <div class="verse-loading">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    } @else if (error || !verse) {
      <p class="app-body-secondary">Unable to load the verse of the day. Please try again later.</p>
    } @else {
      <p class="app-caption m-b-12">{{ verse.reference }}</p>
      @if (verse.contentHtml) {
        <div class="verse-content" [innerHTML]="verse.contentHtml"></div>
      } @else {
        <p class="app-body">{{ verse.text }}</p>
      }
    }
  </div>
</ion-content>
